.dock {
    position: relative;

    &__toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__toggleIcon {
        width: 20px;
        height: 20px;
        fill: currentColor;
    }

    &__arrow {
        position: absolute;
        top: 100%;
        right: 4px;
        width: 12px;
        height: 12px;
        background-color: $color_mine_shaft;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        pointer-events: none;
        transform: rotate(45deg);
        z-index: 2;
        box-shadow: 1px 2px 3px 1px rgba(30, 30, 30, 0.5);
    }

    &__controlsGroup {
        position: absolute;
        top: calc(100% + 6px);
        right: -11px;
        background-color: $color_mine_shaft;
        border: 1px solid #000;
        border-radius: 2px;
        box-shadow: 1px 2px 2px 1px rgba(30, 30, 30, 0.2);
        z-index: 1;
    }

    &__control {
        display: flex;
        align-items: center;
        font-family: sans-serif;
        color: $color_white !important;
        font-weight: 400;
        font-size: 12px;
        width: 100%;
        padding: 8px 6px 8px 4px;
        border-radius: 0;
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            width: calc(1.25em + 8px);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color_tundora;
        }

        &:active {
            transform: none;
            opacity: 0.9;
        }

        &--disabled {
            cursor: not-allowed;
            color: #ccc !important;
            opacity: 0.5;

            &:hover {
                color: currentColor;
                opacity: 0.5;
            }

            &:active {
                transform: none;
                opacity: 0.5;
                color: currentColor;
            }
        }
    }

    &__control + &__control {
        border-top: 1px solid #000;
    }

    &__controlIcon {
        fill: $color_white;
        width: 1.25em;
        height: 1.25em;
        margin-right: 11px;
        position: relative;
        z-index: 1;
    }

    &__controlName {
        display: block;
        white-space: nowrap;
    }
}