.controlbar {
    padding: 30px;
    display: flex;
    align-items: center;
}

.preview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    padding: 30px;

    &__slideshow {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__marquee {
        position: relative;
        text-align: center;
    }

    &__glider {
        margin-bottom: -2rem;
    }

    &__footer {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
}