/**
* KEYFRAME ANIMATIONS
*/

// buffering
@keyframes buffer {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    100% {
        transform: scale(0.8);
        opacity: 0.5;
    }
}

// throbber
@keyframes melody-throbber-pulse {
    to {
        transform: scale(1.4);
        opacity: 0;
    }
}
