/**
* Elementor typography control stack
*/
@mixin typeStack($key, $fontSize: 16px) {
    font-size: var(--#{$key}_font_size, $fontSize);
    font-family: var(--#{$key}_font_family, inherit);
    font-weight: var(--#{$key}_font_weight, normal);
    text-transform: var(--#{$key}_text_transform, none);
    text-decoration: var(--#{$key}_text_decoration, none);
    line-height: var(--#{$key}_line_height, normal);
    letter-spacing: var(--#{$key}_letter-spacing, normal);
    font-style: var(--#{$key}_font_style, normal);
}

/**
* Elementor border control stack
*/
@mixin borderStack($key) {
    border-style: var(--#{$key}_border_border, solid);
    border-color: var(--#{$key}_border_color, #000);
    border-left-width: var(--#{$key}_border_left_width, 0px);
    border-right-width: var(--#{$key}_border_right_width, 0px);
    border-top-width: var(--#{$key}_border_top_width, 0px);
    border-bottom-width: var(--#{$key}_border_bottom_width, 0px);
    border-top-left-radius: var(--#{$key}_border_left_radius, 0px);
    border-top-right-radius: var(--#{$key}_border_right_radius, 0px);
    border-bottom-right-radius: var(--#{$key}_border_bottom_right_radius, 0px);
    border-bottom-left-radius: var(--#{$key}_border_bottom_left_radius, 0px);
}

/**
* Elementor padding control stack
*/
@mixin paddingStack($key, $fallback) {
    padding-top: var(--#{$key}_padding_top, $fallback);
    padding-bottom: var(--#{$key}_padding_bottom, $fallback);
    padding-left: var(--#{$key}_padding_left, $fallback);
    padding-right: var(--#{$key}_padding_right, $fallback);
}

/**
* Elementor background image control stack
*/
@mixin bgImageStack($key) {
    background-size: var(--#{key}_size, 100%);
    background-repeat: var(--#{key}_repeat, no-repeat);
    background-position: var(--#{key}_position, center center);
    background-attachment: var(--#{key}_attachment, scroll);
}