/**
* COLORS
*/

$color_mine_shaft: #252525;
$color_tundora: #4D4D4D;
$color_silver_chalice: #B0AFAF;
$color_white: #fff;
$color_mercury: #e8e8e8;
$color_alice_blue: #f0f8ff;

/**
* THROBBER KEYFRAMES CONFIG
*/

$columns: (
    1: (
        keyframes: (0 0.3, 60 0.7, 80 0.1, 100 1),
        duration: 1.25,
        cap: 200,
    ),
    2: (
        keyframes: (0 0.1, 20 0.5, 90 1, 100 0.6),
        duration: 1,
        cap: 300,
    ),
    3: (
        keyframes: (18 0.8, 60 0.3, 90 1),
        duration: 0.5,
        cap: 40,
    ),
    4: (
        keyframes: (0 0.1, 20 0.8, 90 1, 100 0.6),
        duration: 0.6,
        cap: 300,
    ),
    5: (
        keyframes: (19 0.5, 79 0.8, 87 0.9),
        duration: 0.6,
        cap: 100,
    ),
    6: (
        keyframes: (46 0.3, 69 0.8, 75 0.5, 100 0.2),
        duration: 1.1,
        cap: 40,
    ),
);