.preview {
    min-height: 200px;
    background: orangered;
}

.tracklist {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
        display: flex;
        margin-right: auto;
    }
}