.Melody {
    height: 100%;
    box-shadow: var(--melody_component_box_shadow, '');
    @include borderStack(melody_component);

    &--fetching {
        display: none;
    }

    &--isDragging {
        cursor: move;
    }
}