.slider {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    &__body {
        position: relative;
        overflow: hidden;
        width: 100%;
        background-color: $color_mine_shaft;
    }

    &__backfill,
    &__handle {
        position: absolute;
        right: 100%;
    }

    &__backfill {
        width: 100%;
        height: 100%;
        background-color: $color_silver_chalice;
    }

    &__handle {
        cursor: pointer;
        border-radius: 50%;
        background-color: $color_white;
    }
}
